<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Forgot Password Mail</title>
  </head>
  <body>
    <h1></h1>
    <p>안녕하세요 {{ username }} 님.</p>
    <br />
    <p>아래 링크를 클릭해서 비밀번호 재설정을 진행해주세요.</p>
    <p>{{ resetPasswordUrl }}</p>
    <br />
    <p>감사합니다.</p>
    <p>서강트리</p>
  </body>
</html>