<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>서강트리 본인 인증 메일</title>
  </head>
  <body>
    <h1></h1>
    <p>안녕하세요 {{ username }} 님.</p>
    <br />
    <p>아래 링크를 클릭해서 인증을 진행해주세요.</p>
    <p><a href={{{ signUpUrl }}}>{{signUpUrl}}</a></p>
    <br />
    <p>감사합니다.</p>
    <p>서강트리 드림.</p>
  </body>
</html>